* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  /* properti pendukung */
  max-width: 490px;
  margin: 0 auto;
  text-align: right;
}

.flex-container-row {
  display: flex;
}

.button {
  flex-basis: 25%;
 
  /* properti pendukung */
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  border: 1px solid rgb(255, 255, 255);
  background:  rgb(255, 255, 255);
  cursor: pointer;
}

.double {
  flex-basis: 50%;
}

.display {
 color: white;
 height: 290px;
 width: 100%;
 border-radius: 20px 20px 0 0;
 padding: 140px 20px;
 background: linear-gradient(135deg,#71b7e6,#124e6e);

 font-size: 1em;
}
.operator,
.negative,
.equals,
.clear {
 background:rgb(255, 255, 255);
 color: #71b7e6;
 font-size: 29px;
}
.equals{
 background: linear-gradient(135deg,#71b7e6,#124e6e);
 color: rgb(255, 255, 255);
 border-radius: 15px;
 flex-basis: 50%;
}
/* Menampilkan border/kartu dipingir kalkulator */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1px;
  margin-top: 10px;
}
/* MKetika mouse berada di angka maka angka akan terlihat bergerak */
.button:hover {
  font-weight: bold;
}

@media screen and (max-width: 513px) {
  .button {
      padding: 10px;
}
}
.history{
  width: 80%;
  margin:30px auto 0 auto;
  overflow: scroll;

}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,td{
  text-align: center;
  padding: 16px;
}

th{
  background-color: #124e6e;
  color: white;
}

tr:nth-child(even){
  background-color: #d2d2d2;
}

@media screen and (max-width: 513px){
  .botton{
    padding: 10px;
  }
  .history{
    width: 100%;
  }
}
